<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Tartu Parking System" %></h1>
  <br />
  <div style="float: left; padding: 0px 0px 0px 65px;"><h5>© 2020: BKMA</h5></div>
  <br />
</section>
